/* Загальний фон */
body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}
.countContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.countContainer p {
  padding: 16px 22px;
  width: 120px;
  text-align: center;

  background: linear-gradient(135deg, #4facfe, #00f2fe);

  color: #0b1b2b;

  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;

  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  transition: all 0.25s ease;
}

.countContainer p:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}
#container {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}
#football ul,
#lastElem ul {
  list-style: none;
  margin: 0;
  padding: 16px;

  background: linear-gradient(145deg, #1e293b, #0f172a);
  border-radius: 14px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  cursor: pointer;
  margin-bottom: 12px;
}
#lastElem ul {
  margin-left: 50px;
}
#football ul:hover,
#lastElem ul:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}

#football li,
#lastElem li {
  margin-bottom: 8px;
  padding: 6px 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.03);
}

.country {
  font-size: 16px;
  color: #22c55e;
  font-weight: bold;
}
